body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.drop .drop1{
	margin-left:2%;
}
.username{
	margin-left:5%;
	
}

.disname{
	margin-left:7%;
}
.password{
	margin-left:5%;
	height:2%;
}
button{
	margin-left:70%;
}