<div class="col-md-12 tiles-section">
    <div *ngFor="let tile of MyTilesArray;index as i;" (click)="routing(i)">        
        <div class="card {{tile.color}}">
            <div class="card-body">
                <div style="display: inline-flex;">
                    <i class="fa fa-user {{tile.color}}" aria-hidden="true"></i>
                    <div>
                        <h5 class="card-title">{{tile.name}}</h5>
                        <p class="card-text">{{tile.count}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>