/* You can add global styles to this file, and also import other style files */
body{
    background-color: #cccccc96;
    overflow-x: hidden;
}
.word-break{
    word-break:break-all;
}
.navbar {
    background-color: #fff;
    color:black;
}
.blue{
    color: #14145d;
 }
 .yellow{
     color:#d69d33;    
 }
 .pink{
     color:#e550d3a6;
 }
 .green{
     color:green;
 }
 .lightblue{
     color:#448fab;
 }

 
.blue:hover:not(.fa),.blue:focus:not(.fa){
    border: 2px solid #14145d;
    cursor: pointer;
 }
 .yellow:hover:not(.fa),.yellow:focus:not(.fa){
     border:2px solid #d69d33;
     cursor: pointer;
 }
 .pink:hover:not(.fa),.pink:focus:not(.fa){
     border: 2px solid #e550d3a6;
     cursor: pointer;
 }
 .green:hover:not(.fa),.green:focus:not(.fa)
 {
     border:2px solid green;
     cursor: pointer;
 }
 .lightblue:hover:not(.fa),.lightblue:focus:not(.fa)
 {
     border: 2px solid #448fab;
     cursor: pointer;
 }
 

// table common styles starts from here
.table-section{
    background-color: #fff;
    color:black;
}
.table-header-items{
    color:black;
    font-weight: 700;
    font-size: 20px;
}
.table-heading{
    padding: 10px;
}
.ui-multiselect .ui-multiselect-panel {
    width: 200px !important;
    right: 20px !important;
    left: auto !important ;
}

.component-header .ui-button.ui-state-default.ui-button-secondary{
    color: #4282b4 !important;
    background-color: #fff !important;
    border: 1px solid #ccc;
    border-radius:50px;
}
.info-container{
    border-left: 1px solid #ccc;
}
  
  .transform {
     display: none;
  }
  
  .transform-active {
      display: block;
  }

  .search-box{
    background: #f8f9fa;
    padding: 10px;
    margin-top: 10px;
    border-top: 3px solid #448fab;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .search-buttons{
    padding: 25px 12px 0px 0px;
  }
  .ui-dropdown{
      width: 100% !important;
  }  
  .ui-calendar{
    width: 100% !important;
}
    .ui-calendar .ui-inputtext{
        width: 100% !important;
    }
    .ui-calendar .ui-calendar-button{
      position: absolute;
      right: 0px;
  }
  .ui-table .card,.ui-table .card:hover{
    cursor: pointer;
    background-color: #efefee !important;
    margin-bottom: 5px;
    border: 2px solid #e5e5e5;
  }
  .ui-table .card-body{
      padding:2px !important
  }
  .ui-table .card-body .fa{
    font-size: 20px !important;
}
.ui-table .card-body-content{
    text-align: center;
    padding-top: 10px !important;
}
  
.triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
  }
  .student-layout-div .card-title{
      font-weight: bold !important;
  }
  .student-profile-container .ui-tabview-nav{
    display: flex !important;
    overflow-x: auto;
    overflow-y: hidden;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
    background-color: #448fab !important;
    border: 1px solid #448fab !important;
}
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
    color: #ffffff;
    background-color: #448fab !important;
}
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    background-color: #448fab !important;
    border: 1px solid #448fab !important;
    color: #ffffff;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active:not(.ui-state-disabled):hover {
    border-color: #448fab !important;
    background-color: #448fab !important;
    color: #ffffff;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #448fab;
    background-color: #448fab;
    color: #ffffff;
}
    
//   table common styles ends here